*{
    margin: 0%;
    padding: 0%;
}
body{
    margin: 0%;
    padding: 0%;
}

.background{
    z-index: -1;
    width: 100%;
    height: 75%;
    position: fixed;
    margin-top: -100px;
}

.showfeats{
    z-index: 1;
    height: 19em;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    font-size: 3em;
    text-shadow: -1px 1px 2px #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
}

.nav-contaniner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.navbar-brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.navbar-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.nav-item{
    margin: 10px;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: blueviolet;

}




.flexbox-item{
    width: 200px;
    margin: 10px;
    border: 3px solid #f4f2f2;
    background-color: #ffffffd5;
    display: flex;
}


.flexbox-item-01{
    min-height: 50px;
    min-width: 800px;
    background-color: rgb(214, 213, 213);
    color: rgb(0, 0, 0);
    
}

.flexbox-item-1{
min-height: 200px;
min-width: 500px;


}

.flexbox-item-2{
min-height: 200px;
min-width: 500px;
}


.flexbox-item-3{
min-height: 200px;
min-width: 500px;
}

.flexbox-item-4{
    min-height: 200px;
    min-width: 500px;
    }
    

.grid1{
    display: flex;
    justify-content: space-evenly;
}
.button1{
    background-color:gold;
    color: rgb(4, 4, 4);
    height: 200px;
    width: 50px;
    display: flex;
}

.ul1{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
}



footer{
    margin-bottom: 0px;
}

.bottom{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}

.map{
    width: 205px;
   margin-right: 4%;
}

.mapimg{
    width: 250px;
}

.footinfo{
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.footshows{
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.social{
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.foothead{
    font-size: 2em;
}

.tiny{
    margin: 3px;
}